@import '@fontsource/fira-mono';

:root {
	
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;

	--w: #ffffff;
	--off-bk: #333333;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	
	--w-lt: #FAF3E7;
	--w-md: #FEF0D7;
	--w-dk: #E7DCC9;
	
	--y-lt: #FFDEAD;
	--y-md: #D7AC74;

	--b-dk: #1B3750;
	--b-md: #2E5F8A;
	--b-lt: #3B8391;

	--bg-dk: #3B8391;
	--bg-lt: #7DBDCA;

	--o-md: #EC7357;
	--p-md: #932851;
	
	--wrapper-width: 75rem;
	--wrapper-width-lg: 87.5rem;
	--header-height: 3rem;
	--footer-height: 4rem;
	--gallery-height: 0rem;
	--gallery-section-height: 0rem;
	--gallery-details-height: 0rem;

	--space-md: 0.333rem;
	--space-lg: 0.667rem;
	--outershadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
	--border-md: var(--space-md) solid var(--p-md);
	--border-lg: var(--space-lg) solid var(--p-md);

}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--b-dkg);
	background: linear-gradient(
		180deg,
		var(--b-dk) 0%,
		var(--bg-dk) 55%,
		var(--bg-lt) 80%
	);
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--off-bk);
}

p {
	line-height: 1.5;
}

a ,
a:visited {
	color: var(--bg-dk);
	text-decoration: none;
	cursor: pointer
}

a:hover {
	color: var(--bg-lt);
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
	font-weight: 600;
}

button:focus:not(:focus-visible) {
	outline: none;
}
h1, h2, h3, h4, h5, h6, figure, ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 1rem 0;
}

article {
	padding: 2rem 1rem;
	box-sizing: border-box;
	background: var(--w-lt);
	filter: drop-shadow(var(--outershadow));
}
section {
	display: flex;
	width: 100%;
	margin-top: var(--header-height);

}